.icon-button {
    background: transparent;
    border: none;
    outline: none;
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.icon-button::before {
    background: rgba(150, 150, 150, .3);
    border-radius: 50%;
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    height: 32px;
    width: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}

.icon-button--active.icon-button::before {
    background: rgba(209, 72, 28, .3);
}

.icon-button:focus::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.5);
}

.icon-button:active::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
}

.icon-button:hover::before {
    opacity: .75;
    transform: translate(-50%, -50%) scale(1.5);
    transition: opacity .2s ease-in-out;
}

.icon-button * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.favorite-icon--filled {
    opacity: 0;
    transition: opacity .2s ease;
}

.icon-button--active .favorite-icon--filled {
    opacity: 1;
}